@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: 'Open Sans', sans-serif;
}


.ql-toolbar {
    position: sticky;
    top: 65px;
    z-index: 40;
    color: rgb(12, 11, 18);
    border-radius: 8px 8px 0px 0px;
}

.story-nav {
    color: rgb(97, 97, 97);
}

.story-nav:hover {
    cursor: pointer;
    color: rgb(58, 58, 58);
}

.ql-container {
    border-radius: 0px 0px 8px 8px;
}

.blog-view a {
    color: blue;
    font-weight: 600;
    text-decoration: underline;
}
  
.blog-view  pre {
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
}

h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-4px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn .18s ease-out;
}

